# This code runs in Python 3.13.5 and conda 25.5.1

# ---- Web interfacing ----
beautifulsoup4==4.13.4
requests==2.32.4
urllib3==2.5.0

# ---- Data analysis ----
lxml==6.0.0
numpy==2.3.1
pandas==2.3.1

# ---- Bioinformatics ----
bio==1.8.0
biopython==1.85

# ---- Dependencies ----
anyio==4.10.0
biothings_client==0.4.1
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
gprofiler-official==1.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
mygene==3.2.2
packaging==25.0
platformdirs==4.3.8
pooch==1.8.2
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==78.1.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
wheel==0.45.1
