# This code runs in Python 3.13.5 and conda 25.5.1

# ---- Web interfacing ----
beautifulsoup4==4.13.4
requests==2.32.4
urllib3==2.5.

# ---- Data analysis ----
lxml==6.0.0
numpy==2.3.1
pandas==2.3.1

# ---- Dependencies ----
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==78.1.1
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.1
tzdata==2025.2
wheel==0.45.1